// variables sass


// Colores
$primaryColor: #22c49f;
$complementColor: #C42247;

$tetradicColor2: #4E22C4;
$tetradicColor3: #C42247;
$tetradicColor4: #98C422;



// colores BackGraund
$bgFaint: #3c3c40;
$bgStrong: #1a1c22;
$bgMedium: #242731;

// fuentes
$fontColor: #ededed;
$font-texto: 16px;
$font-titulo: 20px;
$PlexRegular: 'PlexSans';


// mapa para font-weight
$mapFW: (
    thin: 100,
    extra-light: 200,
    light: 300,
    regular: 400,
    medium: 500,
    semi-bold: 600,
    bold: 700
);
