// variables sass


// Colores
$primaryColor: #22c49f;
$bgFaint: #3f404b;
$bgStrong: #1a1c22;

// fuentes
$fontColor: #fff;
$font-texto: 14px;
$font-titulo: 16px;
$PlexRegular: 'PlexSans';


// mapa para font-weight
$mapFW: (
    thin: 100,
    extra-light: 200,
    light: 300,
    regular: 400,
    medium: 500,
    semi-bold: 600,
    bold: 700
);
