h1, h2, h3, h4, h5{
    @include defaultFont();
}

.mainTitle{
    position: relative;
    @extend %flexBox;
    justify-content: center;
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: inset 10px -10px 20px #353538, inset -10px 10px 20px #434348;
    &__h{
        @include defaultFont($fz: $font-titulo + 4, $ta: center, $fw: bold);
    }
}

.sectionTitle{
    position: relative;
    @extend %flexBox;
    margin-bottom: 10px;
    &__h{
        @include defaultFont($fz: $font-titulo, $fw: semi-bold);
    }
}

.subnTitle{
    position: relative;
    @extend %flexBox;
    margin-bottom: 10px;
    &__h{
        @include defaultFont($fz: $font-titulo - 2, $fw: medium);
    }
}