// Thing
@font-face{
    font-family: 'PlexSans-thing';
    src: url('../fonts/IBMPlexSans-Thin.ttf') format('truetype');
}
@font-face{
    font-family: 'PlexSans-thing-italic';
    src: url('../fonts/IBMPlexSans-ThinItalic.ttf') format('truetype');
}

// Exta-light
@font-face{
    font-family: 'PlexSans-extraLight';
    src: url('../fonts/IBMPlexSans-ExtraLight.ttf') format('truetype');
}
@font-face{
    font-family: 'PlexSans-extraLight-italic';
    src: url('../fonts/IBMPlexSans-ExtraLightItalic.ttf') format('truetype');
}

// Light
@font-face{
    font-family: 'PlexSans-light';
    src: url('../fonts/IBMPlexSans-Light.ttf') format('truetype');
}
@font-face{
    font-family: 'PlexSans-light-italic';
    src: url('../fonts/IBMPlexSans-LightItalic.ttf') format('truetype');
}

// Regular
@font-face{
    font-family: 'PlexSans-regular';
    src: url('../fonts/IBMPlexSans-Regular.ttf') format('truetype');
}
@font-face{
    font-family: 'PlexSans-regular-italic';
    src: url('../fonts/IBMPlexSans-Italic.ttf') format('truetype');
}

// Medium
@font-face{
    font-family: 'PlexSans-medium';
    src: url('../fonts/IBMPlexSans-Medium.ttf') format('truetype');
}
@font-face{
    font-family: 'PlexSans-medium-italic';
    src: url('../fonts/IBMPlexSans-MediumItalic.ttf') format('truetype');
}

// Semi-bold
@font-face{
    font-family: 'PlexSans-semiBold';
    src: url('../fonts/IBMPlexSans-SemiBold.ttf') format('truetype');
}
@font-face{
    font-family: 'PlexSans-semiBold-italic';
    src: url('../fonts/IBMPlexSans-SemiBoldItalic.ttf') format('truetype');
}


// bold
@font-face{
    font-family: 'PlexSans-bold';
    src: url('../fonts/IBMPlexSans-Bold.ttf') format('truetype');
}
@font-face{
    font-family: 'PlexSans-bold-Italic';
    src: url('../fonts/IBMPlexSans-BoldItalic.ttf') format('truetype');
}