<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <img src="" alt="">
        <nav class="mainNav">
            <ul class="mainMenu">
                <li class="mainMenu__item">Portafolio</li>
                <li class="mainMenu__item">preWork</li>
                <li class="mainMenu__item">html</li>
                <li class="mainMenu__item">css</li>
                <li class="mainMenu__item">preProcesadores</li>
                <li class="mainMenu__item">js</li>
                <li class="mainMenu__item">Base de datos</li>
                <li class="mainMenu__item">git</li>
                <li class="mainMenu__item">react</li>
                <li class="mainMenu__item">Angular</li>
            </ul>
        </nav>
    </header>
    <main class="mainContainer">
        <nav>
            <ul>
                <li>introduccion</li>
                <li>etiquetas</li> 
                <li>buenas practicas</li>
            </ul>
        </nav>
        
        <section>
            <div>
                <h2>Intoduccion</h2>
                <hr>

            </div>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>