<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <img src="" alt="">
        <!-- #region menu Principal-->
        <nav class="mainNav">
            <img src="" alt="">
            <ul class="mainMenu">
                <li id="navPortafolio" class="mainMenu__item" onclick="menuChange('Portafolio')">Portafolio</li>
                <li id="navPreWork" class="mainMenu__item" onclick="menuChange('PreWork')">PreWork</li>
                <li id="nav" class="mainMenu__item" onclick="menuChange('HTML')">HTML</li>
                <li id="nav" class="mainMenu__item" onclick="menuChange('CSS')">CSS</li>
                <li id="nav" class="mainMenu__item">PreProcesadores</li>
                <li id="nav" class="mainMenu__item">JS</li>
                <li id="nav" class="mainMenu__item">Base de datos</li>
                <li id="nav" class="mainMenu__item">Git</li>
                <li id="nav" class="mainMenu__item">React</li>
                <li id="nav" class="mainMenu__item">Angular</li>
            </ul>
        </nav>
        <!-- #endregion menu Principal-->
    </header>
    <div class="mainContainer">
        <!-- #region SubMenu-->
        <nav class="leftNav" id="idLeftNav">
            <ul class="leftMenu">
                <li class="leftMenu__item"><a href="#idEditorTexto">Editor de Texto</a></li>
                <li class="leftMenu__item" id="itemSubM1"><a href="#idConsola" class="itemSubM1">Consola</a></li>
                <li class="leftMenu__item">buenas practicas</li>
            </ul>
        </nav>
        <!-- #endregion SubMenu-->
        
        <main class="content">

            <!-- #region Portafolio-->
            <div class="box" id="divPortafolio">
                <div class="card">
                    <div class="card__page--a"></div>
                    <div class="cardContent">
                        <div class="mainTitle">
                            <h2 class="mainTitle__h">Portafolio</h2>
                        </div>
                    </div>
                    
                </div>

            </div>
            <!-- #endregion Portafolio-->

            <!-- #region PreWork-->
            <section class="box box--first" id="divPreWork">
                <div class="card">
                    <div class="card__page--b"></div>
                    <div class="cardContent">
                        <div class="mainTitle">
                            <h2 class="mainTitle__h">PreWork</h2>
                        </div>
     
                        <!-- #region Editor de texto-->
                        <article class="subSeccion" id="idEditorTexto">
                            <div class="sectionTitle">
                                <h3 class="sectionTitle__h">Editor de texto</h3>
                            </div>
                            <hr>
    
                            <div class="articleBlock">
    
                                <div class="subTitle">
                                    <img src="" alt="">
                                    <h4 class="subTitle__h">Visual Code</h4>
                                </div>
    
                                <p class="paragraph">
                                    Es una de las herramientas mas utilizada por los desarrolladores ya que es gratuita y tiene muchos plugins
                                    que son muy apreciados por la comunidad ya que permiten un optimo manejo del codigo y es muy versatil
                                    a la hora de desarrollar en muchos de los lenguajes que existen actualmente.
                                </p>
    
                                
                                <!-- #region Extras-->
                                <div class="titleExtra">
                                    <h4 class="titleExtra__h">Extenciones Recomendadas</h4>
                                </div>
    
                                <div class="containerExtras">
                                    <!--Live Server-->
                                    <article class="boxExtra">
                                        <figure class="figExtra">
                                            <img class="figExtra__img" src="../recursos/img/preWork/live-server.jpg" alt="imagen del icono live server">
                                        </figure>
                                        <div class="bodyExtra">
                                            <div class="textoExtra">
                                                <h5 class="textoExtra__h">Live Server</h5>
                                                <p class="textoExtra__p">Nos crea un servidor host para ejecutar el proyecto en tiempo real</p>
                                                <a class="textoExtra__link" href="https://marketplace.visualstudio.com/items?itemName=ritwickdey.LiveServer" target="_blank">Live Server</a>
                                            </div>
                                        </div>
                                    </article>
    
                                    <!--Live Sass Compiler-->
                                    <article class="boxExtra">
                                        <figure class="figExtra">
                                            <img class="figExtra__img" src="../recursos/img/preWork/live-sass-compiler.jpg" alt="imagen del icono live server">
                                        </figure>
                                        <div class="bodyExtra">
                                            <div class="textoExtra">
                                                <h5 class="textoExtra__h">Live Sass Compiler</h5>
                                                <p class="textoExtra__p">Compila el codigo sass y podemos darle espesificaciones para su manejo</p>
                                                <a class="textoExtra__link" href="https://marketplace.visualstudio.com/items?itemName=ritwickdey.live-sass" target="_blank">Live Sass</a>
                                            </div>
                                        </div>
                                    </article>
    
                                    <!--Auto Close Tag-->
                                    <article class="boxExtra">
                                        <figure class="figExtra">
                                            <img class="figExtra__img" src="../recursos/img/preWork/auto-close-tag.jpg" alt="imagen del icono live server">
                                        </figure>
                                        <div class="bodyExtra">
                                            <div class="textoExtra">
                                                <h5 class="textoExtra__h">Auto Close Tag</h5>
                                                <p class="textoExtra__p">Ayuda a cerrar etiquetas en el html de manera automatica</p>
                                                <a class="textoExtra__link" href="https://marketplace.visualstudio.com/items?itemName=formulahendry.auto-close-tag" target="_blank">Auto Close Tag</a>
                                            </div>
                                        </div>
                                    </article>
    
                                    <!--Bracket Pair Colorizer-->
                                    <article class="boxExtra">
                                        <figure class="figExtra">
                                            <img class="figExtra__img" src="../recursos/img/preWork/bracket-pair-colorizer.jpg" alt="imagen del icono live server">
                                        </figure>
                                        <div class="bodyExtra">
                                            <div class="textoExtra">
                                                <h5 class="textoExtra__h">Bracket Pair Colorizer</h5>
                                                <p class="textoExtra__p">Ayuda a identificar de mejor manera donde cierran las centencias</p>
                                                <a class="textoExtra__link" href="https://marketplace.visualstudio.com/items?itemName=CoenraadS.bracket-pair-colorizer-2" target="_blank">Bracket Pair Colorizer</a>
                                            </div>
                                        </div>
                                    </article>
                                    
                                    <!--Remote - WSL-->
                                    <article class="boxExtra">
                                        <figure class="figExtra">
                                            <img class="figExtra__img" src="../recursos/img/preWork/remote-WSL.jpg" alt="imagen del icono live server">
                                        </figure>
                                        <div class="bodyExtra">
                                            <div class="textoExtra">
                                                <h5 class="textoExtra__h">Remote - WSL</h5>
                                                <p class="textoExtra__p">Extencion nesesaria si vamos a usar el windows subsystem for linux</p>
                                                <a class="textoExtra__link" href="https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-wsl" target="_blank">Remote - WSL</a>
                                            </div>
                                        </div>
                                    </article>
    
                                    <!--sass-->
                                    <article class="boxExtra">
                                        <figure class="figExtra">
                                            <img class="figExtra__img" src="../recursos/img/preWork/sass.jpg" alt="imagen del icono live server">
                                        </figure>
                                        <div class="bodyExtra">
                                            <div class="textoExtra">
                                                <h5 class="textoExtra__h">Sass</h5>
                                                <p class="textoExtra__p">corrige sitaxis de sass, y autocompleta fragmentos de codigo</p>
                                                <a class="textoExtra__link" href="https://marketplace.visualstudio.com/items?itemName=Syler.sass-indented" target="_blank">Sass</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <!-- #endregion Extras-->
        
                            </div>
                        </article>
                        
                        <!-- #endregion Editor de texto-->

                        <!-- #region Consola-->
                        <article  class="subSeccion" id="idConsola">
                            <div class="sectionTitle">
                                <h3 class="sectionTitle__h">Consola o Terminal</h3>
                            </div>
                            <hr>
                            <div class="articleBlock">
                                <div class="subTitle">
                                    <img src="" alt="">
                                    <h4 class="subTitle__h">¿Que es?</h4>
                                </div>
                                <p class="paragraph">
                                    Es la forma mas flexible en la que una persona puede interactuar con una computadora por medio de comandos entedibles para la maquina
                                    <br><br>
                                    En ocaciones es bueno personalizar las consola ya que nos puede brindar algunos indicativos como estado de repositorios de git, 
                                    algunas de las consolas recomendadas son:
                                    <br><br>
                                    - En windows terminal - microsoft store <br>
                                    - en mac y linux Hyper y se personalizar con zsh
                                </p>
                                <!-- #region Tabla-->
                                <table class="table">
                                    <caption>Lista de algunos comandos basicos para consola de mac y linux y de (WSL)</caption>
                                    <thead>
                                        <tr>
                                            <th>Comando</th>
                                            <th>Descripcion</th>
                                            <th class="whit30">Ejemplo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>sudo</td>
                                            <td>Permite ejecutar comandos con permisos de administrador.</td>
                                            <td>sudo "comando"</td>
                                        </tr>
                                        <tr>
                                            <td>pwd</td>
                                            <td>El comando muestra la ruta actual.</td>
                                            <td>pwd</td>
                                        </tr>
                                        <tr>
                                            <td>cd</td>
                                            <td>Me permite navegar entre directorios.</td>
                                            <td>CD "ruta del directorio"</td>
                                        </tr>
                                        <tr>
                                            <td>ls</td>
                                            <td>Lista los documentos del directorio actual, se puede usar variaciones -r lista archivos de subdirectorio, -a muestra los archivos ocultos, -l me muestra el detalle de los archivos, -t ordena la lista por fecha.</td>
                                            <td>ls <br> ls -a <br>ls -al <br>...</td>
                                        </tr>
                                        <tr>
                                            <td>mkdir</td>
                                            <td>Crea una nueva carpeta.</td>
                                            <td>mkadir "nombre de la carpeta"</td>
                                        </tr>
                                        <tr>
                                            <td>touch</td>
                                            <td>Crea un archivo.</td>
                                            <td>touch "Nombre del archivo"</td>
                                        </tr>
                                        <tr>
                                            <td>rm</td>
                                            <td>Elimina archivos para eliminar carpetas se usa la varion -rf.</td>
                                            <td>rm "Nombre del archivo" <br> rm -rf "Nombre de carpeta"</td>
                                        </tr>
                                        <tr>
                                            <td>cat</td>
                                            <td>Permite visualizar el contenido de un archivo de manera parcial</td>
                                            <td>cat "Nombre del archivo"</td>
                                        </tr>
                                        <tr>
                                            <td>more</td>
                                            <td>Permite visualizar el contenido de un archivo de manera mas detallada</td>
                                            <td>more "Nombre del archivo"</td>
                                        </tr>
                                        <tr>
                                            <td>node</td>
                                            <td>Permite modificar el contenido del archivo</td>
                                            <td>node "Nombre del archivo"</td>
                                        </tr>
                                        <tr>
                                            <td>apt-get</td>
                                            <td>Me permite darle instrucciones al gestor de paquetes de linux como actualiza o instalar programas.</td>
                                            <td>sudo apt-get update <br>sudo apt-get upgrade</td>
                                        </tr>
                                        <tr>
                                            <td>history</td>
                                            <td>Muestra el historial de los comandos ejecutados en la consola por medio del sombolo "!" y el numero del comando se puede repetir el comando (!246).</td>
                                            <td>history<br>!245</td>
                                        </tr>
                                        <tr>
                                            <td>chown -R</td>
                                            <td>Da permisos de modificacion a carpetas en windows subsystem for linux.</td>
                                            <td>sudo chown -R "usuario" "ubicacion de la carpeta"</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- #endregion Tabla-->
                            </div>
                        </article>

                        <!-- #endregion Consola-->
                    </div>
                </div>

            </section>
            <!-- #endregion PreWork-->

            <!-- #region  HTML-->
            <section class="box" id="divHTML">
                <div class="card">
                    <div class="card__page--c"></div>
                    <div class="cardContent">
                        <div class="mainTitle">
                            <h2 class="mainTitle__h">HTML</h2>
                        </div>

                    </div>
                </div>
            </section>
            <!-- #endregion HTML-->

            <!-- #region CSS-->
            <section class="box" id="divCSS">
                <div class="card">
                    <div class="card__page--d"></div>
                    <div class="cardContent">
                        <div class="mainTitle">
                            <h2 class="mainTitle__h">CSS</h2>
                        </div>

                    </div>
                </div>
            </section>
            <!-- #endregion CSS-->

            <div class="box" id="div">
                <div>
                    <h2>Intoduccion Html</h2>
                    <hr>
                </div>
            </div>

            <div class="box" id="div">
                <div>
                    <h2>Intoduccion Html</h2>
                    <hr>
                </div>
            </div>

            <div class="box" id="div">
                <div>
                    <h2>Intoduccion Html</h2>
                    <hr>
                </div>
            </div>

            <div class="box" id="div">
                <div>
                    <h2>Intoduccion Html</h2>
                    <hr>
                </div>
            </div>

            <div class="box" id="div">
                <div>
                    <h2>Intoduccion Html</h2>
                    <hr>
                </div>
            </div>

            <div class="box" id="div">
                <div>
                    <h2>Intoduccion Html</h2>
                    <hr>
                </div>
            </div>

            <div class="box" id="div">
                <div>
                    <h2>Intoduccion Html</h2>
                    <hr>
                </div>
            </div>
            
        </main>
    </div>
    <footer>

    </footer>

    <!-- #region call script-->
    <script src="../js/menu.js"></script>
    <!-- #endregion call script-->
</body>
</html>